*.o
*.ko.cmd
*.o.cmd
*.ko
*.cache
*.status
*.deps
technologic/
dyndns/inadyn-*/
openssh/openssh-*/
esp/busybox/busybox-*/
esp/ser2net/ser2net-*/
esp/dropbear/dropbear-*/
esp/e2fsprogs/e2fsprogs-*/
esp/net-tools/net-tools-*/
esp/netdev/cyclades-serial-client-*/
esp/ppp/ppp-*/
esp/ppp/pptp-*/
esp/setserial/serterial-*/
esp/portmap/portmap_*/
esp/setserial/setserial-*/
esp/sysvinit/sysvinit-*/
esp/thttpd/thttpd-*/
esp/util-linux/util-linux-*/
esp/vsftpd/vsftpd-*/
esp/wget/wget-*/
esp/wireless_tools/wireless_tools.*/
esp/zlib/zlib-*/
lrzsz/lrzsz-*/
ltib/compat-wireless/compat-wireless-*/
psmisc/psmisc-*/
wpa_supplicant/wpa_supplicant-*/
tcflush/tcflush

