SUBSYSTEM!="usb_device", ACTION!="add", GOTO="labjack_rules_end"

# U3
SYSFS{idVendor}=="0cd5", SYSFS{idProduct}=="0003", GROUP="labjack"
# U6
SYSFS{idVendor}=="0cd5", SYSFS{idProduct}=="0006", GROUP="labjack"
# UE9
SYSFS{idVendor}=="0cd5", SYSFS{idProduct}=="0009", GROUP="labjack"
# U12
SYSFS{idVendor}=="0cd5", SYSFS{idProduct}=="0001", GROUP="labjack"
# SkyMote Bridge
SYSFS{idVendor}=="0cd5", SYSFS{idProduct}=="0501", GROUP="labjack"

LABEL="labjack_rules_end"
