#Rename USB Communication Device Class devices
SUBSYSTEM!="net", GOTO="endNetRename"
ACTION!="add", GOTO="endNetRename"

#Assign Verizon USB551L modem a unique interface name
DRIVERS=="cdc_*",KERNEL=="eth*", NAME="cdc%n"
DRIVERS=="rndis_*",KERNEL=="eth*", NAME="rnd%n"
DRIVERS=="huawei_cdc_*",KERNEL=="wwan*", NAME="huawei%n"

ATTRS{idVendor}=="05c6",ATTRS{idProduct}=="9330", NAME="sim76xx%n"
ATTRS{idVendor}=="1410",ATTRS{idProduct}=="b001", NAME="cdc551L%n"

#rename Siretta ZETA cell modem's network interface
#ATTRS{idVendor}=="1bc7",ATTRS{idProduct}=="1102",ATTRS{serial}=="6d254be1",\
#  NAME="cell"

LABEL="endNetRename"