#ignore virtual network interfaces
SUBSYSTEM!="net", GOTO="notNetIf"
ENV{DEVPATH}=="/devices/virtual/*", GOTO="notTTYIf"

ACTION=="add", RUN+="ifup %E{INTERFACE}"
ACTION=="remove", RUN+="ifdown %E{INTERFACE}"

LABEL="notNetIf"
SUBSYSTEM!="tty", GOTO="notTTYif"

### handle serial USB modems
ACTION=="remove", RUN+="ifTTYdown"
ACTION!="add", GOTO="notTTYif"

#Quectel BG96
ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0296", ENV{ID_IFACE}=="03",\
  SYMLINK+="AT/bg96", GROUP="root", RUN+="ifup bg96"

#uBlox SARA-R4 (after 4 second delay)
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="90b2", ENV{ID_IFACE}=="02",\
  SYMLINK+="AT/saraR4", GROUP="root", RUN+="ifup saraR4 4" 

#Iridium Satphone Handset
ENV{ID_MODEL}=="Iridium_*_Handset", ENV{ID_IFACE}=="00",\
  SYMLINK+="AT/iridium", GROUP="root", RUN+="ifup iridium"

LABEL="notTTYif"
