#3/8/25 brent@mbari.org
#ignore virtual network interfaces
SUBSYSTEM!="net", GOTO="notNetIf"
ENV{DEVPATH}=="/devices/virtual/*", GOTO="updownEND"
ENV{INTERFACE}=="mon.*", GOTO="updownEND"

#allow time for RealTek RTL8723BU to boot
ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="b720", ENV{ifDelay}="4"

#allow time for MultiTech Telit DE900 to boot
ATTRS{idVendor}=="1bc7", ATTRS{idProduct}=="1102", ENV{ifDelay}="30"

#ensure stickup runs before attempting to bring up SIMCom A76xx
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9011", ENV{ifDelay}="2"

ACTION=="add", RUN+="ifup %E{INTERFACE} %E{ifDelay}"
ACTION=="remove", RUN+="ifdown %E{INTERFACE}"

LABEL="notNetIf"
SUBSYSTEM!="tty", GOTO="notTTYif"

### handle serial USB modems
ACTION=="remove", RUN+="ifTTYdown"
ACTION!="add", GOTO="updownEND"

#Telit ME900 (prod 1102 is a USB CDCether device)
ATTRS{idVendor}=="1bc7", ATTRS{idProduct}=="1101", ENV{ID_IFACE}=="02",\
  GROUP+="root", SYMLINK+="AT/me910", RUN+="ifup me910 15"
ATTRS{idVendor}=="1bc7", ATTRS{idProduct}=="1102", ENV{ID_IFACE}=="02",\
  GROUP+="root", SYMLINK+="AT/me910"

#SIMCom A7080 modem
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9205", ENV{ID_IFACE}=="00",\
  GROUP+="root", SYMLINK+="AT/diag"
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9205", ENV{ID_IFACE}=="02",\
  GROUP+="root", SYMLINK+="AT/a7080"
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9205", ENV{ID_IFACE}=="03",\
  GROUP+="root", SYMLINK+="AT/ppp"
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9205", ENV{ID_IFACE}=="01",\
  GROUP+="root", SYMLINK+="gps"

#SIMCom A76XX modem
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9011", ENV{ID_IFACE}=="02",\
  GROUP+="root", SYMLINK+="AT/diag"
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9011", ENV{ID_IFACE}=="04",\
  GROUP+="root", SYMLINK+="AT/a76xx", RUN+="stickup $env{DEVNAME} 'AT+USBNETIP=1'"
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9011", ENV{ID_IFACE}=="05",\
  GROUP+="root", SYMLINK+="AT/ppp"
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9011", ENV{ID_IFACE}=="06",\
  GROUP+="root", SYMLINK+="gps"

#Quectel BG96
ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0296", GROUP="root"
ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0296", ENV{ID_IFACE}=="03",\
  SYMLINK+="AT/bg96", RUN+="ifup bg96 10"

#delay SARA-R4 ifup by a few seconds
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="90b2", GROUP="root"
ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="90b2", ENV{ID_IFACE}=="02",\
  SYMLINK+="AT/saraR4", RUN+="ifup saraR4 14"

#Iridium Satphone Handset
ATTRS{idVendor}=="1edd",ENV{ID_MODEL}=="Iridium_*_Handset", group="root"
ATTRS{idVendor}=="1edd",ENV{ID_MODEL}=="Iridium_*_Handset",ENV{ID_IFACE}=="00",\
  SYMLINK+="AT/iridium", RUN+="ifup iridium"

#Pantech UML295 has a NMEA GPS port
ATTRS{idVendor}=="10a9", ATTRS{idProduct}=="6064", ENV{ID_IFACE}=="04",\
  SYMLINK+="gps"

#Huawei modems in "stick" mode need to receive AT cmd to attach to the network
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1506", group="root"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1506", ENV{ID_IFACE}=="01",\
  RUN+="stickup $env{DEVNAME} 'AT^NDISDUP=1,1' 2"

ACTION=="add", GOTO="updownEND"
LABEL="notTTYif"

#cycle USB power whenever Qualcomm USB modem fireware crashes
#ATTRS{product}=="QHSUSB__BULK", RUN+="/usr/sbin/resetUSB"

LABEL="updownEND"
